{% extends 'dashboard/base_zero_page.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "No products found." %}{% endblock %}
{% block content %}
  {% static "dashboard/images/add.svg" as img_path %}
  {% url "dashboard:product-type-add" as product_type_url %}
  {% if product_types %}
    {% blocktrans %}
      You can create products by using the <span class="btn-fab-presentation"><svg data-src="{{ img_path }}" /></span> button.
    {% endblocktrans %}
  {% else %}
    <a href="{% url "dashboard:product-add" %}" class="btn btn-primary">{% trans "Add" %}</a>
  {% endif %}
{% endblock %}
