{% extends 'base.html' %}

{% load bootstrap_form from bootstrap4 %}
{% load static %}
{% load i18n %}
{% load placeholder %}

{% block title %}{% trans "Thank you" context "Checkout success page title" %} — {{ block.super }}{% endblock %}


{% block content %}
  <div class="row checkout__thankyoupage">
    <div class="col-xl-10 m-auto">
      <img class="checkout__thankyoupage__parrot lazyload lazypreload" data-src="{% static 'images/confirm-order-bg.png' %}"
           srcset="{% static 'images/confirm-order-bg.png' %} 1x, {% static 'images/confirm-order-bg2x.png' %} 2x">
      <h2 class="mt-2 mb-2">
          {% trans "Thank you for your order. Your order is now available in 'Your Courses'." %}
      </h2>
    </div>
    <div class="m-auto">
      <img class="checkout-pirate lazyload lazypreload" data-src="{% static 'images/checkout-bg.png' %}"
           srcset="{% static 'images/checkout-bg.png' %} 1x, {% static 'images/checkout-bg2x.png' %} 2x">
      <p><a href="{% url 'account:details' %}#courses" class="btn secondary">
          {% trans "Go to your courses" %}
      </a></p>
    </div>
  </div>
{% endblock %}
